// Подключение шрифтов
@font-face {
	font-family: "Dongle"; //! шрифт-маломерка
	font-style: normal;
	font-weight: 300;
	src: local("Dongle"), url("../asset/fonts/dongle-v8-latin-300.woff2") format("woff2"),
		url("../asset/fonts/dongle-v8-latin-300.woff") format("woff");
}

@font-face {
	font-family: "Dongle"; //! шрифт-маломерка
	font-style: normal;
	font-weight: 400;
	src: local("Dongle"), url("../asset/fonts/dongle-v8-latin-regular.woff2") format("woff2"),
		url("../asset/fonts/dongle-v8-latin-regular.woff") format("woff");
}

@font-face {
	font-family: "Dongle"; //! шрифт-маломерка
	font-style: normal;
	font-weight: 700;
	src: local("Dongle"), url("../asset/fonts/dongle-v8-latin-700.woff2") format("woff2"),
		url("../asset/fonts/dongle-v8-latin-700.woff") format("woff");
}

@font-face {
	font-family: "Knewave"; //! for logo
	font-style: normal;
	font-weight: 400;
	src: local("Knewave"), url("../asset/fonts/knewave-v14-latin-regular.woff2") format("woff2"),
		url("../asset/fonts/knewave-v14-latin-regular.woff") format("woff");
}

// Файл обнуляющих стилей
@import "_nullstyle";

// Библиотека noUiSlider: range-ползунки
@import "nouislider/dist/nouislider.css";

// Переменные для цвета
$grey1: #4e4d4d; // основной для шрифта
$grey2: #545454; // светлее - под цвет рюкзака-корзины
$eggshell: #f0ead6; // Eggshell - основной для фона
$sea-green-dark: #3d5446;
$green-dark: #272d24; // .noUi-handle

html {
	scroll-behavior: smooth;
}

body {
	max-width: 100%;
	min-height: 100vh;
	// overflow-x: hidden;
	min-width: 600px;
	font-size: 35px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Dongle", sans-serif;

	color: $grey1;
	background: url(../asset/noise_transparent@2x.png) $eggshell; // Eggshell
}

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	height: auto;
}

._container {
	max-width: 1200px;
	padding: 0px 15px; // secure
	margin: 0px auto;
	box-sizing: content-box; // чтобы паддинг не считался частью max-width
}

//======== header ======================================================================================

.header__row {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.header__logo-image {
	width: 100px;
	height: auto;
}

.header__title {
	font-family: "Knewave", sans-serif;

	font-weight: 900;
	font-size: 50px;
	font-weight: 700;

	user-select: none;

	@media (max-width: 760px) {
		font-size: 40px;
	}
}

.header__basket {
	margin-left: auto;

	margin-right: 25px;
}

.basket {
	position: relative;
}

.basket__image {
	width: 80px;
	height: auto;
}

.basket__amount {
	position: absolute;
	top: -17px;
	right: -17px;

	font-family: "Knewave", sans-serif;
}

//======== main ======================================================================================

.main__box {
	display: grid;
	grid-template-columns: 25% auto;
	gap: 30px;
}

//======== filters =============================================================================

.filters {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.color {
	display: flex;
	flex-direction: column;
}

.brand {
	display: flex;
	flex-direction: column;
}

.popular {
	display: flex;
	gap: 10px;
}

.ranges {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding: 0 15px;
}

.ranges__title {
	margin: 0 -15px;
}

.reset {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 200px;
}

.filters__title {
	font-family: "Knewave", sans-serif;
	font-size: 30px;

	margin-bottom: 10px;

	@media (max-width: 900px) {
		font-size: 25px;
	}
}

.filters__checkbox,
.filters__popular {
	display: inline;

	opacity: 0;
	visibility: hidden;
	appearance: none;

	height: 0;
	width: 0;
}

.filters__checkbox:checked + .filters__label {
	// color: $sea-green-dark;
	text-shadow: 0px 0px 2px $sea-green-dark, 0 0 10px $sea-green-dark;
	transition: all 0.3s ease 0s;
}

.filters__label {
	transition: all 0.3s ease 0s;

	cursor: pointer;
}

.filters__label_popular {
	position: relative; // for :after when .filters__popular:checked
	display: block;
	width: 30px;
	height: 30px;

	background-color: $sea-green-dark;
	border-radius: 5px;

	padding: 0;

	cursor: pointer;
}

.filters__popular:checked + .filters__label_popular:after {
	content: "";
	display: block;
	width: 12px;
	height: 18px;

	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%) rotate(45deg);

	border: solid $eggshell;
	border-width: 0 4px 4px 0;
}

// noUiSlider styles
.noUi-tooltip {
	display: none;
}

.noUi-active .noUi-tooltip {
	display: block;
}

.noUi-connect {
	background-color: $sea-green-dark;

	cursor: pointer;
}

.noUi-target {
	width: 100%;
}

.noUi-touch-area {
	cursor: pointer;
}

.noUi-handle {
	background-color: $green-dark;
}

.sorting select {
	width: 100%;
	height: 40px;

	padding-left: 10px;

	font-size: 30px;
	font-family: "Dongle", sans-serif;

	color: $grey1;

	border-radius: 5px;
	background-color: $eggshell;

	cursor: pointer;

	@media (max-width: 900px) {
		font-size: 25px;
	}
}

.filters__search {
	width: 100%;
	height: 40px;
	padding: 13px;

	font-size: 30px;
	font-family: "Dongle", sans-serif;

	color: $grey1;

	border-radius: 5px;
	background-color: $eggshell;

	@media (max-width: 900px) {
		font-size: 25px;
	}
}

//======== store ===============================================================================

.store__alert {
	text-align: center;
}
.store__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 240px);
	column-gap: 30px;
	row-gap: 30px;
}

.product__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	font-size: 30px;
	line-height: 20px;

	background-color: $eggshell;
	border-radius: 5px;
	width: 240px;

	padding: 20px;

	transition: all 0.3s ease 0s;

	&:hover {
		box-shadow: 0px 0px 20px $grey1;
	}
}

.product__info {
	text-align: center;
}

.product__image {
	width: 200px;
	height: auto;
}

.product__buttons-wrapper {
	overflow: hidden;
	width: 100%;
	display: flex;
}

.button,
.product__button {
	display: block;
	min-width: 200px;
	height: 40px;

	font-size: 30px;
	line-height: 20px;
	background-color: $sea-green-dark;
	color: $eggshell;

	transition: all 0.3s ease 0s;
}

.product__button_add.inactive {
	transform: translateX(-100%);
	transition: all 0.3s ease 0s;
}

.product__button_remove.active {
	transform: translateX(-100%);
	transition: all 0.3s ease 0s;

	color: $sea-green-dark;
	background-color: $eggshell;
	border: 1px solid $sea-green-dark;
}

//======== footer ================================================================================

.footer__row {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.github__image {
	width: 100px;
	height: auto;
}

.year {
	// font-family: "Knewave", sans-serif;
	font-weight: 800;
	color: rgb(10, 10, 10);
}

.rsschool__image {
	width: 80px;
	height: auto;
}

//================================================================================================
